doctype html
html(lang='zxx')
    include common/header.pug
    +head("Account Details" )
    body
        include common/accountOverlay.pug
        +accountOverlay()
        include common/navbar.pug
        +navbar(user)
        section.shopping-cart.spad
            .container
                .row
                    .col-lg-12
                        .row
                            .col-sm-3.account-nav
                                include common/accountNavbar.pug
                                +accountNavbar()                                
                            .col-sm-9.account-body
                                .card-body(style="border: 1px solid rgba(0,0,0,.125);padding:10px")
                                    div(style="padding-bottom:10px;border-bottom: 4px solid rgba(0,0,0,.125)")
                                        h3(style="font-weight:700") Account Details
                                    .row(style="margin-top:20px;")
                                        .col-sm-12
                                            div(style="padding-top:10px;padding-left:5px;background-color:rgba(0,0,0,.125);")
                                                h6(style="font-weight:700;") LOGIN INFORMATION
                                            form(action='/updatePassword' method='post')        
                                                .row(style="margin-top:20px")
                                                    .col-sm-12
                                                        p.small.text-danger #{(success ? 'Password Updated' :'')}
                                                        label(for="password" style="text-align:left;font-weight:700;font-size:14px") New Password:*
                                                        input.form-control(style="width:100% !important;text-align:left;"  required=true , name='password', type='password', value=(formData != undefined) ? formData.password : '')
                                                        if(errors && errors.password)
                                                            p.error(id="error").small.text-danger #{errors.password}
                                                .row(style="margin-top:20px")
                                                    .col-sm-12
                                                        label(for="confirmPassword" style="text-align:left;font-weight:700;font-size:14px") Confirm Password:*
                                                        input.form-control(style="width:100% !important;text-align:left;"  required=true , name='confirmPassword', type='password', value=(formData != undefined) ? formData.confirmPassword : '')
                                                .row(style="margin-top:20px")
                                                    .col-sm-12        
                                                        input.primary-btn(type="submit" style="width:50%;font-size:12px;text-align:center" value="UPDATE PASSWORD")
                                    .row(style="margin-top:20px;")
                                        .col-sm-12
                                            div(style="padding-top:10px;padding-left:5px;background-color:rgba(0,0,0,.125);")
                                                h6(style="font-weight:700;") CONTACT PREFERENCES
                                            form(action="/updateMailingList" method="post")       
                                                .row(style="margin-top:20px;")
                                                    .col-sm-12
                                                        p(style=";color:black;font-size:12px") I'd like to receive exclusive news from Reggae Masters by:
                                                        input(type="checkbox" id="emailRegister" name="emailRegister" user.mailingListFl ? checked : '' style="text-align:center;")
                                                        label(style="text-align:center;color:black;font-size:12px;margin-left:5px;") Email
                                                        p.small.text-danger #{(errors != undefined && errors.emailRegister ? errors.emailRegister :'')}
                                                .row(style="margin-top:20px")
                                                    .col-sm-12        
                                                        input.primary-btn(type="submit" style="width:50%;font-size:12px;text-align:center" value="UPDATE")
        include common/footer.pug
        +footer()
        script(src='js/main.js')