doctype html
html(lang='en')
    include common/header.pug 
    +head("Admin Property")
    body(style='padding-top: 72px;')
        #overlay
        include common/navbar.pug 
        +navbar(user)
        .progress.rounded-0.sticky-top#progressBar(style='height: 10px; top: 72px;display:none')
            .progress-bar#progress(role='progressbar' style='width: 0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
    
        section.py-5
            input(id="property" style="display:none" value=property)
                      
            .container
                // Breadcrumbs
                ol.breadcrumb.ps-0.justify-content-start
                    li.breadcrumb-item
                        a(href='/adminDashboard') Dashboard
                    li.breadcrumb-item
                        a(href='/adminSearchProperty') Properties
                    li.breadcrumb-item.active #{property.name} 
                h1.hero-heading.mb-0 #{property.name}
                //- p.text-muted.mb-5 Manage your Personal info and settings here.
                .row
                    .col-lg-6.mb-5.mb-lg-0
                        .text-block
                            .row.mb-3
                                .col-sm-12
                                    h5 Property Details
                        
                                    #personalDetails
                                        .row
                                            .mb-4
                                                .form-check.form-switch
                                                    input#hide.form-check-input(type='checkbox')
                                                    label.form-check-label(for='formSwitch') Property Hidden from Public
                                        .row.pt-4
                                            .mb-4.col-md-6
                                                label.form-label(for='propertyName') Property Name
                                                input#propertyName.form-control(type='text' name='propertyName' value=property.name)
                                            .mb-4.col-md-6
                                                label.form-label(for='pricePerDay') £ Price Per Day
                                                input#pricePerDay.form-control(type='text' name='pricePerDay' value=property.pricePerDay)
                                            
                                    .text-block
                                        .row
                                            .col-lg-4
                                                h4 Bedrooms, Bathrooms, Guests
                                                //- p.text-muted.text-sm
                                                    | The number of bedrooms and bathrooms the property has
                                        .row
                                            .col-lg-12.ms-auto
                                                .row
                                                    .col-lg-3
                                                        label.form-label Bedrooms
                                                        .d-flex.align-items-center
                                                            .btn.btn-items.btn-items-decrease -
                                                            input#bedrooms.form-control.input-items(type='text' value=property.bedrooms disabled='')
                                                            .btn.btn-items.btn-items-increase +
                                                    .col-lg-3
                                                        label.form-label Beds
                                                        .d-flex.align-items-center
                                                            .btn.btn-items.btn-items-decrease -
                                                            input#beds.form-control.input-items(type='text' value=property.beds disabled='')
                                                            .btn.btn-items.btn-items-increase +
                                                    
                                                    .col-lg-3
                                                        label.form-label Bathrooms
                                                        .d-flex.align-items-center
                                                            .btn.btn-items.btn-items-decrease -
                                                            input#bathrooms.form-control.input-items(type='text' value=property.bathrooms disabled='')
                                                            .btn.btn-items.btn-items-increase +
                                                    .col-lg-3
                                                        label.form-label Guests
                                                        .d-flex.align-items-center
                                                            .btn.btn-items.btn-items-decrease -
                                                            input#guests.form-control.input-items(type='text' value=property.guests disabled='')
                                                            .btn.btn-items.btn-items-increase +
                                    .text-block
                                        .row.mb-3
                                            .col-sm-12
                                                h5 Address
                                                .row.pt-4
                                                    .mb-4.col-md-6
                                                        label.form-label(for='addressLine1') Address Line 1
                                                        input#addressLine1.form-control(type='text' name='addressLine1' value=property.addressLine1)
                                                    .mb-4.col-md-6
                                                        label.form-label(for='addressLine2') Address Line 2
                                                        input#addressLine2.form-control(type='text' name='addressLine2' value=(property.addressLine2 != null ? property.addressLine2 : ""))
                                                    .mb-4.col-md-6
                                                        label.form-label(for='city') City
                                                        input(style="display:none" id="currentCityId" value=property.cityId)
                                                        select#city.selectpicker.form-control(type='text' name='city' value=property.city)
                                                            each city in cities
                                                                option(value=city.id) #{city.name}
                                                        p.small.text-danger(id="cityError")
                                                    .mb-4.col-md-6
                                                        label.form-label(for='town') Town
                                                        select#town.selectpicker.form-control(type='text' name='town' value=property.town)
                                                        p.small.text-danger(id="townError")
                                                    .mb-4.col-md-6
                                                        label.form-label(for='postCode') Post Code
                                                        input#postCode.form-control(type='text' name='postCode' value=property.postCode)

                                        .text-block
                                            .row.mb-3
                                                .col-sm-12
                                                    h5 Advance Notice
                                                    .row.pt-4
                                                        label.form-label(for='advanceNotice') Number of days notice for a booking
                                                        .d-flex.align-items-center
                                                            .btn.btn-items.btn-items-decrease -
                                                            input#advanceNotice.form-control.input-items(type='text' disabled='' value=property.advanceNotice)
                                                            .btn.btn-items.btn-items-increase +
                                        
                                        .text-block
                                            .row.mb-3
                                                .col-sm-12
                                                    h5 Description
                                                    .row.pt-4
                                                        .mb-5
                                                            label.form-label(for='description') Describe your place to guests
                                                            textarea#description.form-control(name='name' rows='5' aria-describedby='descriptionHelp') #{property.description}
                                                            p.small.text-danger(id="descriptionError")
              
                    
                    .col-lg-5.ms-lg-auto
                        row.form-block
                            .col-lg-12
                                h5.mb-4 Gallery
                                .row.gallery.mb-3.ms-n1.me-n1

                                    .col-lg-3.col-6.px-1.mb-2
                                        div.dropzone
                                            a(href=property.displayImage1 data-fancybox='gallery' title='Our street')
                                                img#displayImage1.img-fluid(src=property.displayImage1 alt='...')
                                        label.btn.btn-primary(for="picture1" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Main Picture
                                        input(id="picture1" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=1)
                                        p.small.text-danger(id="picture1Error" style="text-align:center")
                                    .col-lg-3.col-6.px-1.mb-2#picParent2
                                        div#picArea2.dropzone
                                            a(href=property.displayImage2 style=(property.displayImage2 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage2.img-fluid(src=property.displayImage2  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage2 == null ? "" : "display:none"))
                                                p Add Image 2
                                        label.btn.btn-primary(for="picture2" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 2
                                        input(id="picture2" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=2)
                                        button.btn.btn-outline-primary(id="removeDisplayImage2" style=( property.displayImage2 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=2) Remove Picture
                                        p.small.text-danger(id="picture2Error" style="text-align:center")
                                    .col-lg-3.col-6.px-1.mb-2#picParent3
                                        div#picArea3.dropzone
                                            a(href=property.displayImage3 style=(property.displayImage3 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage3.img-fluid(src=property.displayImage3  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage3 == null ? "" : "display:none"))
                                                p Add Image 3
                                        label.btn.btn-primary(for="picture3" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 3
                                        input(id="picture3" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=3)
                                        button.btn.btn-outline-primary(id="removeDisplayImage3" style=( property.displayImage3 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=3) Remove Picture
                                        p.small.text-danger(id="picture3Error" style="text-align:center")
                                    .col-lg-3.col-6.px-1.mb-2#picParent4
                                        div#picArea4.dropzone
                                            a(href=property.displayImage4 style=(property.displayImage4 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage4.img-fluid(src=property.displayImage4  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage4 == null ? "" : "display:none"))
                                                p Add Image 4
                                        label.btn.btn-primary(for="picture4" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 4
                                        input(id="picture4" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=4)
                                        button.btn.btn-outline-primary(id="removeDisplayImage4" style=( property.displayImage4 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=4) Remove Picture
                                        p.small.text-danger(id="picture4Error" style="text-align:center")
                                    .col-lg-3.col-6.px-1.mb-2#picParent5
                                        div#picArea5.dropzone
                                            a(href=property.displayImage5 style=(property.displayImage5 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage5.img-fluid(src=property.displayImage5  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage5 == null ? "" : "display:none"))
                                                p Add Image 5
                                        label.btn.btn-primary(for="picture5" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 5
                                        input(id="picture5" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=5)
                                        button.btn.btn-outline-primary(id="removeDisplayImage5" style=( property.displayImage5 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=5) Remove Picture
                                        p.small.text-danger(id="picture5Error" style="text-align:center")
                                    .col-lg-3.col-6.px-1.mb-2#picParent6
                                        div#picArea6.dropzone
                                            a(href=property.displayImage6 style=(property.displayImage6 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage6.img-fluid(src=property.displayImage6  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage6 == null ? "" : "display:none"))
                                                p Add Image 6
                                        label.btn.btn-primary(for="picture6" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 6
                                        input(id="picture6" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=6)
                                        button.btn.btn-outline-primary(id="removeDisplayImage6" style=( property.displayImage6 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=6) Remove Picture
                                        p.small.text-danger(id="picture6Error" style="text-align:center")

                                    .col-lg-3.col-6.px-1.mb-2#picParent7
                                        div#picArea7.dropzone
                                            a(href=property.displayImage7 style=(property.displayImage7 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage7.img-fluid(src=property.displayImage7  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage7 == null ? "" : "display:none"))
                                                p Add Image 7
                                        label.btn.btn-primary(for="picture7" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 7
                                        input(id="picture7" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=7)
                                        button.btn.btn-outline-primary(id="removeDisplayImage7" style=( property.displayImage7 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=7) Remove Picture
                                        p.small.text-danger(id="picture7Error" style="text-align:center")

                                    .col-lg-3.col-6.px-1.mb-2#picParent8
                                        div#picArea8.dropzone
                                            a(href=property.displayImage8 style=(property.displayImage8 != null ? "" : "display:none") data-fancybox='gallery' title='Outside')
                                                img#displayImage8.img-fluid(src=property.displayImage8  alt='...')
                                            .dz-message.text-muted(style=(property.displayImage8 == null ? "" : "display:none"))
                                                p Add Image 8
                                        label.btn.btn-primary(for="picture8" style="margin-top:10px;width:100%;font-size:8pt !important;cursor:pointer;") Picture 8
                                        input(id="picture8" type='file' style="opacity:0;width:-webkit-fill-available" accept="image/x-png,image/jpeg" data-index=8)
                                        button.btn.btn-outline-primary(id="removeDisplayImage8" style=( property.displayImage8 ? "width:100%;font-size:8pt !important;" : "width:100%;font-size:8pt !important;display:none") data-index=8) Remove Picture
                                        p.small.text-danger(id="picture8Error" style="text-align:center")
                        .row.form-block
                            .col-lg-12
                                h5.mb-4 Calendar Sync
                                .row
                                    .col-sm-12( id="calendarSyncRows")
                                        if(propertySyncs)
                                            each calendarSync in propertySyncs
                                                .row
                                                    .col-sm-7
                                                        p.text-muted(style="width:100% !important;text-align:left;") #{calendarSync.name}
                                                    .col-sm-5
                                                        button.btn.btn-outline-primary.remove(data-remove-id=calendarSync.id) Remove  

                                .row(style="margin-top:10px")
                                    .col-lg-6
                                        button.btn.btn-primary#newRow Add New Row
                                    //- hr.my-3.hr-text.letter-spacing-2(data-content="OR")
                                    //- .d-grid.gap-2
                                    //-     button.btn.btn.btn-outline-muted#exportCalendar Export Calendar
                                    
                                    .col-lg-6
                                        button.btn.btn-link.ps-0.text-primary.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#updatePassword' aria-expanded='false' aria-controls='updatePassword') Export Calendar
                                    #updatePassword.collapse
                                        .row.mt-4
                                            .mb-4.col-12
                                                label.form-label(for='password-current')  Copy and paste the link into other ICAL applications
                                                p.form-control(type='text' name='password-current') #{ical}


                        .row.form-block
                            .col-lg-12
                                h5.mb-4 Calendar Availability
                                .row
                                    .mb-4
                                        button.btn.btn-primary#availability See Availability           

                        .row.form-block
                            .col-lg-12
                                h5.mb-4 Amenities
                                input#propertyAmenities(style="display:none" value=propertyAmenities)
                                input#noAmenities(style="display:none" value=amenities.length)
                                .row
                                    each amenity, index in amenities
                                        .col-lg-4
                                            .mb-4
                                                .form-check
                                                    input.form-check-input(type='checkbox' data-name=amenity.name data-id=amenity.id id='amenity'+ index)
                                                    label.form-check-label(for='amenity'+ index) #{amenity.name} 
                                
                        .row.form-block
                            .col-lg-12
                                button.btn.btn-primary#editProperty Update Property
                                p.small.text-danger(id="noChangeError")
                   
    include common/footer_new.pug 
    +footer()
    script(src="js/adminProperty.js")
